/*Rimuovere le classi inutilizzate*/
.logoimg {
    width: 68px;
    height: 72px;
    background-image: url(bicocca.png);
    background-size: cover;
    cursor: pointer;
    display: flex;
}
.profileimg {
    width: 68px;
    height: 72px;
    background-image: url(profile.png);
    background-size: cover;
    cursor: pointer;
    display: flex;
}
.coursesbackground {
    background-image: url(background_bicocca.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 16%;
}
.notebackground {
    background-image: url(background_course.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 16%;
}
.profilebackground {
    position: relative;
    overflow: hidden;
    background-color: #222;
    min-height: 30%;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}
.profilebackground:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    -webkit-filter: blur(4px); /* Safari */
    filter: blur(4px);
    background-image: url(background_user.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.profileheader {
    color: white;
    z-index: 2;
}
.title {
    text-align: center;
    margin: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.menu {
    flex-direction: row;
}
.name {
    font-weight: 500;
}
.cardBody {
    height: 18%;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .center {
        display: flex;
        justify-content: center;
        margin: 12px;
    }
    .profilebackground {
        background-image: url(background_user.jpg);
        background-size: cover;
        display: flex;
        height: 18%;
        margin: 0%;
    }
    .profileheader {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        font-size: 26px;
    }
    .marginprofilemail {
        margin-top: 12px;
    }
}
