/*Rimuovere le classi inutilizzate e rinominare le classi con '-' in mezzo*/
.logoimg {
    width: 68px;
    height: 72px;
    background-image: url(images/bicocca.png);
    background-size: cover;
    cursor: pointer;
    display: flex;
}
.profileimg {
    width: 68px;
    height: 72px;
    background-image: url(images/profile.png);
    background-size: cover;
    cursor: pointer;
    display: flex;
}
.coursesbackground {
    position: relative;
    overflow: hidden;
    background-color: #868e96;
    min-height: 120px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}
.coursesbackground:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px);
    background-image: url(images/background_bicocca.jpg);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.notebackground {
    position: relative;
    overflow: hidden;
    background-color: #868e96;
    min-height: 120px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}
.notebackground:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px);
    background-image: url(images/background_course.jpg);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.usersbackground {
    position: relative;
    overflow: hidden;
    background-color: #868e96;
    min-height: 120px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}
.usersbackground:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px);
    background-image: url(images/background_user.jpg);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.profilebackground {
    position: relative;
    overflow: hidden;
    background-color: #868e96;
    min-height: 240px;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}
.profilebackground:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    -webkit-filter: blur(3px); /* Safari */
    filter: blur(3px);
    background-image: url(images/background_user.jpg);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.cardheader {
    color: white;
    text-shadow: -2px 2px 3px #343a40;
    z-index: 2;
    margin: 6px;
}
.title {
    text-align: center;
    margin: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.menu {
    flex-direction: row;
}
.cardBody {
    height: 135px;
    overflow-y: auto;
}

@media (max-width: 767px) {
    .center {
        display: flex;
        justify-content: center;
        margin: 12px;
    }
    .profilebackground {
        position: relative;
        overflow: hidden;
        background-color: #868e96;
        min-height: 135px;
        display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;     /* center items horizontally, in this case */
    }
    /* cambiare la img di background */
    .profilebackground:before {
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        -webkit-filter: blur(3px); /* Safari */
        filter: blur(3px);
        background-image: url(images/background_user.jpg);
        background-repeat: no-repeat;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .cardheader {
        color: white;
        text-shadow: -2px 2px 3px #343a40;
        font-size: 25px;
        margin: 6px;
        z-index: 2;
    }
    .marginprofilemail {
        margin-top: 12px !important;
    }
}
