.logoimg {
    width: 68px;
    height: 72px;
    background-image: url(bicocca.png);
    background-size: cover;
    cursor: pointer;
    display: flex;
}
.profileimg {
    width: 68px;
    height: 72px;
    background-image: url(profile.png);
    background-size: cover;
    cursor: pointer;
    display: flex;
}
.coursesbackground {
    background-image: url(background_bicocca.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 16%;
}
.notebackground {
    background-image: url(background_course.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 16%;
}
.padding0 {
    padding: 0px;
}
.margin0 {
    margin: 0px;
}
.margin6 {
    margin: 6px;
}
.margin32 {
    margin: 32px;
}
.flex{
    display: flex;
}
.flex1 {
    flex: 1;
}
.title {
    text-align: center;
    margin: 32px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.menu {
    flex-direction: row;
}
.center {
    justify-content: center;
}
.remove:hover {
    color: red;
    height: 15%;
    margin-top: 6px;
    margin-right: 6px;
}
.remove {
    height: 15%;
    margin-top: 6px;
    margin-right: 6px;
}
.save:hover {
    color: green;
}
.bio {
    max-height: 160px;
    overflow-y: scroll;
}
.name {
    font-weight: 500;
}

@media (max-width: 767px) {
    .center {
        display: flex;
        justify-content: center;
        margin: 12px;
    }
}
