<!DOCETYPE html>
<html ng-app='notesharing'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body ng-controller="homeController">
        <nav class="navbar navbar-dark bg-dark">
            <div class="logoimg" ng-click="home()">
            </div>
            <div class="navbar navbar-dark bg-dark flex1" id="navbarNav">
                <ul class="navbar-nav menu">
                    <li class="nav-item active margin6">
                        <a class="nav-link" href="#!/home" ng-click="home()">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active margin6">
                        <a class="nav-link" href="#!/add" ng-click="add()">Add</a>
                    </li>
                </ul>
                <form class="form-inline margin0">
                    <input class="form-control mr-sm-2 flex1" type="text" ng-model="searchText" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>
        <ui-view></ui-view>
        <script src="./node_modules/angular/angular.min.js"></script>
        <script src="./node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <script src="./node_modules/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAIWuC87fwKg6Ec-tdrgk4xV31VFGzGtSA",
                authDomain: "manageusers-33cb8.firebaseapp.com",
                databaseURL: "https://manageusers-33cb8.firebaseio.com",
                projectId: "manageusers-33cb8",
                storageBucket: "",
                messagingSenderId: "38175491153"
            };
            firebase.initializeApp(config);
        </script>
        <script src="app/app.js"></script>
        <script src="app/config.js"></script>
        <script src="app/controller/home.controller.js"></script>
        <script src="app/controller/add.note.controller.js"></script>
    </body>
</html>
