<div>
    <div class="title">
        <h2>Welcome to Notes Sharing!</h2>
    </div>

    <div class="row nameuser">
        <div class="card col-md-3 margin6 padding0" ng-repeat="u in user | filter:searchText">
            <div class="card-body padding0">
                <div class="userimg">
                    <div class="flex1"></div>
                    <div class="flex1"></div>
                    <i class="fa fa-times remove" aria-hidden="true" ng-click="remove(u)"></i>
                </div>
                <div class="margin6">
                    <p class="name" ng-model="search.name">{{u.name}}</p>
                    <button type="button" class="btn btn-secondary btn-block" ng-click="showNotes(u)">Show notes</button>
                </div>
            </div>
        </div>
    </div>
</div>
