<div class="margin32">
    <form>
        <div class="form-group">
            <h3>Course</h3>
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{course}}
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" ng-click="chooseCourse(c)" ng-repeat="c in courses">{{c.name}}</a>
            </div>
        </div>

        <div class="form-group">
            <h3>Name</h3>
            <input type="text" class="form-control" ng-model="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <h3>Text</h3>
            <textarea class="form-control" ng-model="text" placeholder="Enter Text" rows="15"></textarea>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save(name, text, course)">
            Save &nbsp; <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>

    </form>
</div>
