<div>
    <div class="title">
        <h2>{{course.name}}</h2>
        <p class="margin6">{{course.description}}</p>
    </div>

    <div class="row center">
        <div class="card col-md-3 margin6 padding0" ng-repeat="n in notes | filter:searchText">
            <div class="card-body padding0">
                <div class="notebackground">
                    <p class="cardheader fonts25" ng-model="search.name">{{n.name}}</p>
                </div>
                <div class="margin6">
                    <button type="button" class="btn btn-secondary btn-block" ng-click="note(n)">Show note</button>
                </div>
            </div>
        </div>
    </div>
</div>
