<div>
    <div class="title">
        <h2>Welcome to Notes Sharing!</h2>
    </div>

    <div class="row center">
        <div class="card col-md-3 margin6 padding0" ng-repeat="n in courses | filter:searchText">
            <div class="card-body padding0">
                <div class="coursesbackground">
                </div>
                <div class="margin6">
                    <p class="name" ng-model="search.name">{{n.name}}</p>
                    <p ng-model="search.name">{{n.description}}</p>
                    <button type="button" class="btn btn-secondary btn-block" ng-click="course(n)">Show notes</button>
                </div>
            </div>
        </div>
    </div>
</div>
