<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- DataSource -->
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/Noteapp</property>

        <!-- List of XML mapping files -->
        <mapping class="project.noteapp.bean.Course"></mapping>
        <mapping class="project.noteapp.bean.Note"></mapping>
        <mapping class="project.noteapp.bean.User"></mapping>

    </session-factory>

</hibernate-configuration>